nav {
    background-image: linear-gradient(to right, rgb(209, 18, 18), rgba(0, 0, 255, 0.397));
    color: white;
    min-height: 10vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

nav a:hover {
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
}

.App {
    max-width: 100%;
    text-align: center;
}

.btn-login {
    align-items: center;
}