.container {
    max-width: 100vw;
    max-height: 100vh;
}

nav {
    background-image: linear-gradient( to right, rgb(209, 18, 18), rgba(0, 0, 255, 0.397));
    color: white;
    min-height: 10vh;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding-top: 25px;
}

nav a:hover {
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
}

.App {
    max-width: 100%;
    text-align: center;
}

.btn-login {
    align-items: center;
}

.nav-dropdown {
    margin-bottom: 20px;
}

.addRole-form {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.addInfo-button {
    justify-content: center;
    margin-top: 20px;
}

.addInfo-info {
    justify-content: center;
}

.addRole {
    margin-top: 20px;
}

.addInfo {
    margin-top: 20px;
}

.main {
    margin-top: 20px;
}

.register-form {
    margin-top: 20px;
}

.main-info {
    display: flex;
    justify-content: center;
}

img {
    max-width: 200px;
}